@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

* {
    margin: 0 ;
    padding: 0;
}

body {
  margin: 0 auto;
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 1200px;
  text-rendering: optimizeLegibility;
}

div.table-title {
   display: block;
  margin: auto;
 /* max-width: 940px;*/
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
   text-align: center;

}

div.addbook {
   display: block;
  margin: auto;
/*  max-width: 600px;*/
  padding:5px;
  width: 100%;
}

.addbook a{
    /* font:bold 12px Arial, "Helvetica Neue", Helvetica, sans-serif;*/
    display:block;
    color:black;
    float:right;
    padding:20px;
    background:url('../img/deepadd.png') left no-repeat;
}

.addbook a:hover{
    color:#6E6E6E;
    background:url('../img/lightadd.png') left no-repeat;
    padding:20px;
}

#modif, #supp{
    display:inline-block;
    width:25px;
    height:25px;
} 

#modif{
    background:url('../img/deepedit.png') left no-repeat;
} 

#supp{
    background:url('../img/deepdelete.png') left no-repeat;
}
/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
/*  max-width: 900px;*/
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
.table-fill th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:18px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.table-fill th:first-child {
  border-top-left-radius:3px;
}
 
.table-fill th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.table-fill tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.table-fill tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
.table-fill tr:first-child {
  border-top:none;
}

.table-fill tr:last-child {
  border-bottom:none;
}
 
.table-fill tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
.table-fill tr:nth-child(odd):hover td {
  background:#4E5066;
}

.table-fill tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.table-fill tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
.table-fill td {
  background:#FFFFFF;
  padding:15px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.table-fill td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


/*content*/
#content {  
    display: table;  
    margin:15px auto;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px medium;
    border-radius:22px;
}     

#maincontent {  
    display: table-cell;  
    padding-left: 22px; 
    padding-right: 22px; 
    background: none repeat scroll 0 0 #ffffff;
    box-shadow: 0 -10px 75px 0 #eaeaea inset;
    border-radius:22px;
}  

#maincontent p, #maincontent td{
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal;
    /* text-transform: normal; */
    letter-spacing: normal;
    line-height: 1.4em;

}
#maincontent .msgerreur{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/**Contact form by Author:  Stéphanie Walter
Website: http://www.inpixelitrust.fr/blog/en/
Post on: Onextrapixel - http://www.onextrapixel.com**/

@font-face {
    font-family: 'IconicStroke';
    src: url('../font/iconic_stroke-webfont.eot');
    src: url('../font/iconic_stroke-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconic_stroke-webfont.woff') format('woff'),
        url('../font/iconic_stroke-webfont.ttf') format('truetype'),
        url('../font/iconic_stroke-webfont.svg#IconicStrokeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#contact h1 {
    font-family: 'Questrial', Verdana, sans-serif;
    text-align:center;
    font-size:40px;
    padding:0;
    margin:0 0 20px 0;
    position:relative;
    color:#8C8C8C;
}
#contact img{
    margin: 10px auto;
    display: block;
}
#contact.messagediv{
    font-size:25px;
    display: block;
    margin:0 auto;
}
/** have a nice ampersand **/
#contact h1:after {
    font-size:25px;
    color:#D6CFCB;
    content: '&'; 
    text-align:center;
    display:block;
    width:100%;
    font-family: 'Alice', Verdana, serif;
    text-shadow: 0px 1px 0px #fff;
}

/** create the gradient bottom **/
#contact h1:before {
    position:absolute;
    bottom:15px;
    content: ' '; 
    text-align:center;
    display:block;
    height:2px;
    width:100%;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(182,180,180,0.7) 42%, rgba(180,178,178,0) 43%, rgba(168,166,166,0) 50%, rgba(180,178,178,0) 57%, rgba(182,180,180,0.7) 58%, rgba(238,237,237,0.3) 90%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(182,180,180,0.7)), color-stop(43%,rgba(180,178,178,0)), color-stop(50%,rgba(168,166,166,0)), color-stop(57%,rgba(180,178,178,0)), color-stop(58%,rgba(182,180,180,0.7)), color-stop(90%,rgba(238,237,237,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* W3C */
}

/* Here comes to good stuff : content styling */    
#contact{
    position:relative;
    margin:20px auto;    
    width:840px; 
    /* height:712px; */
    z-index:100;
    padding:25px;

    /*border-radius*/
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    /*box-shadow*/
    -webkit-box-shadow:0px 1px 6px #3F3F3F;
    -moz-box-shadow:0px 1px 6px #3F3F3F;
    box-shadow:0px 1px 6px #3F3F3F;
}

/** my "fake" background that will hover the stripes **/
#contact:after{
    background:#F9F9F9;
    margin:5px;
    position: absolute;
    content : " ";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1; 
    border:1px #E5E5E5 solid;       
    /*border-radius*/
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}

/*** form styling **/
/** we remove the red glow around required fields since we are already using the red star */
input:required, textarea:required { 
    -moz-box-shadow:none;  
    -webkit-box-shadow:none;  
    -o-box-shadow:none;  
    box-shadow:none;  
}

/** inputs and textarea**/
input:not([type="submit"]), textarea, select{
    outline:none;
    display:block;
    width:380px; 
    padding:4px 8px;
    border:1px dashed #DBDBDB;
    color:#3F3F3F;
    font-family:'Droid Sans',Tahoma,Arial,Verdana, sans-serif;
    font-size:14px;
    /*border-radius*/
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    /*transition*/
    -webkit-transition:background 0.2s linear,
        box-shadow 0.6s linear;
    -moz-transition:background 0.2s linear,
        box-shadow 0.6s linear;
    -o-transition:background 0.2s linear,
        box-shadow 0.6s linear;
    transition:background 0.2s linear,
        box-shadow 0.6s linear;
}
input:not([type="submit"]):active, 
textarea:active,
input:not([type="submit"]):focus, 
textarea:focus{
    background:#F7F7F7;
    border:dashed 1px #969696;
    /*box-shadow*/
    -webkit-box-shadow:2px 2px 7px #E8E8E8 inset;
    -moz-box-shadow:2px 2px 7px #E8E8E8 inset;
    box-shadow:2px 2px 7px #E8E8E8 inset;
}

/* placeholder */
::-webkit-input-placeholder  { 
    color:#BABABA; 
    font-style:italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
    color:#BABABA;
    font-style:italic;
} 
textarea{
    min-height:300px;
    resize:vertical;
    width:790px;
}

/** labels**/

/** adding our icon font !! */
.iconic:before{
    font-size:25px;
    font-family: "IconicStroke";
}
.iconic.atelier:before { content: "d"; }
.iconic.arch:before { content: "o"; }
.iconic.tete:before { content: ","; }
.iconic.prix:before { content: "s"; }
.iconic.ou:before { content: "|"; }
.iconic.quand:before { content: "a"; }
.iconic.heure:before { content: "c"; }
.iconic.comment:before { content: ">"; }
.iconic.user:before { content: "k"; }
.iconic.pwd:before { content: "M"; }


label{
    color:#7F7E7E;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
label:hover{
    color:#191919;
}
label:before{
    color:#C1BFBD;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
label:hover:before{
    color:#969696;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}

.indication{
    color:#878787;
    font-size:12px;
    font-style:italic;
    text-align:right;
    padding-right:10px;
}
.required{
    color:#E5224C;
}

/** Styling the send button **/
input[type=submit],input[type=button]{
    /*margin-left:75px;*/
    margin-left:130px;
    cursor:pointer;
    background:none;
    border:none;
    font-family: 'Alice',serif;
    color:#767676;
    font-size:18px;
    padding:10px 4px;
    border:1px solid #E0E0E0;
    text-shadow: 0px 1px  1px #E8E8E8;
    background: rgb(247,247,247);
    background: -moz-linear-gradient(top,  rgba(247,247,247,1) 1%, rgba(242,242,242,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(247,247,247,1)), color-stop(100%,rgba(242,242,242,1)));
    background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
    background: -o-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
    background: -ms-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
    background: linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
    /*border-radius*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    /*box-shadow*/
    -webkit-box-shadow:0px 1px 1px #FFF inset,
        0 0 0px 5px #EAEAEA;
    -moz-box-shadow:0px 1px 1px #FFF inset, 
        0 0 0px 5px #EAEAEA;
    box-shadow:0px 1px 1px #FFF inset,  
        0 0 0px 5px #EAEAEA;
    /*transition*/
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

input[type=button]{
    width:125px;
    float:left;

}
input[type=submit],input[type=button]:hover{
    color:#686868;
    border-color: #CECECE;
    background: rgb(244,244,244);
    background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(242,242,242,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(242,242,242,1)));
    background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
    background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
    background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
    background: linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
    /*box-shadow*/
    -webkit-box-shadow:0px 1px 1px #FFF inset,      
        0 0 0px 5px #E0E0E0;
    -moz-box-shadow:0px 1px 1px #FFF inset,
        0 0 0px 5px #E0E0E0;
    box-shadow:0px 1px 1px #FFF inset,
        0 0 0px 5px #E0E0E0;        
}

input[type=submit],input[type=button]:active,
input[type=submit],input[type=button]:focus{
    position:relative;
    top:1px;
    color:#515151;
    background: rgb(234,234,234);
    background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(242,242,242,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(242,242,242,1)));
    background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
    background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
    background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
    background: linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
    /*box-shadow*/
    -webkit-box-shadow:0px -1px 1px #FFF inset,
        0 0 0px 5px #E0E0E0;
    -moz-box-shadow:0px -1px 1px #FFF inset,
        0 0 0px 5px #E0E0E0;
    box-shadow:0px -1px 1px #FFF inset,
        0 0 0px 5px #E0E0E0;
}


.clear{
    clear:both;
    font-size:0;
    line-height:0;
    margin:0;
} 

form{
    position:relative;
    margin:0 auto;

}
form.connex{
    width:400px;
} 

fieldset{
    padding:10px;
    border:1px solid #DBDBDB;
    border-radius:10px;
    margin-bottom:10px;

}
fieldset.red{
    border:1px solid #AE030D;
}
legend{
    margin:0 10px;
}
input.firstb{
  float: right;
}